/* 
body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.parent{
height: 100%;
width: 100%;
display: flex;
background-color: #111;
padding: 30px;
}
.card{
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding : 2px;
  margin: 7px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}
.centre{
  background-color: red
}
.centre h3{
  font-size: 17px;
  font-weight: 500;
}
.centre h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.centre h2{
  font-size: 20px;
  font-weight: 500;
}
.centre
  .tag{
    display: flex;
    gap: 5px;
  }
.centre .tag h4{
  font-size: 14px;
  font-weight: 500;
  background-color: #dadada;
  color: black;
  border: 1px solid #dadada;
  padding: 2px 5px;
  border-radius: 5px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
} */